%p
  = t(:welcome, scope: [:devise, :mailer, :reset_password_instructions])
  = @resource.email
  \!
%p= t(:reset_password_instruction, scope: [:devise, :mailer, :reset_password_instructions])
%p= link_to t(:change_my_password, scope: [:devise, :mailer, :reset_password_instructions]), edit_password_url(@resource, reset_password_token: @token)
%p= t(:wrong_request_instruction, scope: [:devise, :mailer, :reset_password_instructions])
%p= t(:unchange_password_message, scope: [:devise, :mailer, :reset_password_instructions])